{% extends "::base.html.twig" %}

{% block title %}AppBundle:DepartementsController:getDepartements{% endblock %}

{% block body %}
<h1>Welcome to the DepartementsController:getDepartements page</h1>
{% endblock %}
